* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
 
#text-area {
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#btn {
    background-color: rgb(237, 237, 237);
    color: rgb(29, 29, 29);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    padding: 0px 30px 0 30px;
    width: 300px;
    height: 200px; 
    cursor: pointer;
    display: block;
    border: 2px solid rgb(29, 29, 29);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
}

#btn:hover {
 animation: btn-hover .5s;   
}

#btn:active {
    box-shadow: none;
    position: relative;
    top: 4px;
    left: 4px;
}

.our-text {
    margin-bottom: 20px;
    animation: text-show 2s;
}

@keyframes btn-hover {
    10% {
        transform: scale(1.01, 1.01);
    }
    25% {
        transform: scale(0.97, 0.97);
    }
}

@keyframes text-show {
    0% {
        transform: scaleY(0);
        transform: translateY(10px);
    }
    25% {
        transform: translateY(0);
    }
    100% {
        transform: scaleY(1);
    }
}